{#
Render the password row

* Set password_container_class_list with an array of classes to override the default classes
* Set password_label_class_list with an array of classes to override the default classes
* Set password_input_container with an array of classes to override the default classes

@package OpenEMR
@subpackage Login
@author Robert Down <robertdown@live.com
@copyright Copyright (c) 2023 Robert Down <robertdown@live.com>
@copyright Copyright (c) 2023 Providence Healthtech
@license https://github.com/openemr/openemr/blob/master/LICENSE GNU General Public License 3
#}
{% block password %}
	<div id="standard-auth-password" class="{{ password_container_class_list|default(['form-group', 'col'])|join(' ') }}">
		<label for="clearPass" class="{{ srOnly }} {{ password_label_class_list|default(['col-form-label', 'col-sm-4'])|join(' ') }}">{{ "Password"|xlt }}</label>
		<div class="{{ password_input_container_class_list|default(['col'])|join(' ') }} position-relative">
			<div class="input-group">
				<input type="password" class="form-control" id="clearPass" name="clearPass" placeholder="{{ "Password"|xla }}">
				<div class="input-group-append">
					<span class="input-group-text bg-white border rounded-lg" onclick="togglePassword()" style="cursor: pointer;">
						<span
							id="showIcon">
							<!-- Eye Open Icon (Show Password) -->
							<svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M12 4.5C6.995 4.5 2.732 7.61 1 12c1.732 4.39 5.995 7.5 11 7.5s9.268-3.11 11-7.5c-1.732-4.39-5.995-7.5-11-7.5zm0 12.5a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-8a3 3 0 1 0 .001 6.001A3 3 0 0 0 12 9z" fill="currentColor"/>
							</svg>
						</span>
						<span
							id="hideIcon" style="display: none;">
							<!-- Eye Slash Icon (Hide Password) -->
							<svg width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3 3l18 18M10.586 7.414A5.002 5.002 0 0116.585 11M12 4.5c-5.005 0-9.268 3.11-11 7.5a11.755 11.755 0 004.623 5.494M21 12c-1.732-4.39-5.995-7.5-11-7.5a10.944 10.944 0 00-2.385.268M8.465 15.535A5 5 0 0111.413 7.59" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<script>
		function togglePassword() {
            var passwordField = document.getElementById("clearPass");
            var showIcon = document.getElementById("showIcon");
            var hideIcon = document.getElementById("hideIcon");

            if (passwordField.type === "password") {
            passwordField.type = "text";
            showIcon.style.display = "none";
            hideIcon.style.display = "inline";
            } else {
            passwordField.type = "password";
            showIcon.style.display = "inline";
            hideIcon.style.display = "none";
            }
        }
	</script>
{% endblock %}
