{#
Render the tagline, if set

* Set tagline_container_p_list with an array of classes to override the default classes of the container

@package OpenEMR
@subpackage Login
@author Robert Down <robertdown@live.com
@copyright Copyright (c) 2023 Robert Down <robertdown@live.com>
@copyright Copyright (c) 2023 Providence Healthtech
@license https://github.com/openemr/openemr/blob/master/LICENSE GNU General Public License 3
#}
{% if displayTagline %}
	{% block tagline %}
		<div class="text-center mb-4 px-lg-2">
			<p class="{{ tagline_p_class_list|default(['lead', 'font-weight-bold mb-0'])|join(' ') }}">{{ tagline|xlt }}</p>
			<p class="mt-1 mb-2 font-weight-bold" style="letter-spacing: 2px">
			{{versionTest}}	{{ versionNumber }}</p>
			<small class="">{{ poweredBy }}</small>
			<br/>
			<small class="">{{ certificationLabel }}</small>
		</div>
	{% endblock %}
{% endif %}
